<html>
  <head>
    <link href="./assets/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div>&lt;body&gt;</div>

    <section id="header">
      <div class="title">Metalsmith + Directus demo</div>
      <div id="nav">
        Pages:
        <a href="/index.html">INDEX</a>
        <a href="/homepages.html">HOMEPAGES</a>
      </div>
    </section>

    {{{ contents }}}

    <section id="footer">
      <div>&lt;/body&gt;</div>
    </section>

  </body>
</html>
