---
layout: theme.html
---

<section id="body">

	<h1>Welcome to index.</h1>
	<p>This is based off of the <a href="https://github.com/snipcart/directus-metalsmith-snipcart" target="_blank">Snipcart Boilerplate</a></p>

</section>